/NEW_STRU/
/SYSLOG/
/usrdef/
/users/
/unpack/
/logs/

*.CDX
*.DBF
*.exe
*.DD
*.CFG
*.lst
*.nrp
history.prm
*.cnt
*.LCK
*.log
*.als
*.$ui
*.ini
*.ocx
Icons
/Icons
*.xls
*.als
*.ord
*.GID
*.HLP
*.mail
/*.ORD
1CV7.ORD
1cv7.ORD
